
.header {
    background: var(--azul-escuro);
    padding:32px 32px 0px 32px;
    height: 400px;
}

.jumbotron {
    background: no-repeat url(/img/ilustra-alura-escafandro.svg);
    background-size: 200px;
    background-position: 3em 50%;
}



.header .main-menu {
    text-align: center;
    border-top: 10px;;
    padding-top: 10px;
}

.header .main-menu .menu-item {
    display: inline-block;
    margin:0 2px 32px 0;
}

.header .main-menu .menu-item a {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: var(--branco);
    padding: 16px;
    transition: background-color 0.5s;
    text-decoration: none;
    text-transform: uppercase;

}
.header .main-menu .menu-item a:hover {
    background-color: var(--azul-destaque);
}

.header .jumbotron {
    padding: 0 0 60px 0;
    text-align: center;
    text-transform: uppercase;
}

.header .panel-main {
    color: white;
    text-shadow: 4px 4px 10px black;
    ;
}

.header .jumbotron .title {
    font-size: 3em;
    font-family: 'Inter';
    font-weight: 600;
    padding-top: 16px;;
}

.header .jumbotron .subtitle {
    color: var(--azul-destaque);
    font-size: 2.6em;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 8px;
}

.header .jumbotron .panel-subscribe {
    margin-top: 20px;
}

@media screen and (max-width: 767px){ 
    .header .jumbotron {
        background: var(--azul-escuro);
       
    }

    .header .jumbotron .title {
        padding-top: 46px;
    }
}

@media screen and (min-width: 768px){ 
    .header .jumbotron {
        background-position: 1em 50%;
        font-size: 28px;
    }
}

@media screen and (min-width: 1024px){ 
    .header .jumbotron {
        background-position: 3em 50%;
        font-size: 28px;
    }
}